.productCard {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .productImage {
    border-radius: 10px;
    background-color: azure;
  }
  
  @media (max-width: 560px) {
    .productImage {
      width: 90%;
      height: auto;
    }
  }

  #sup-first .slider-sup div{
    border-radius: 8px;
    height: 300px;
    width: 300px;
    color: lightblue;
}

#sup-first .slider-sup div img{
    border-radius: 8px;
}

#sup-first .slider-sup div:last-child{
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
}

#sup-first .slider-sup div:last-child:hover{
    cursor: pointer;
}

#sup-first .slider-sup div:last-child p{
    font-size: xx-large;

}

.negrita{
    font-weight: bold;
}

h2{
    text-align: center;
}